:root {
  /* CSS HEX */
  --timberwolf: #daddd8ff;
  --middle-green-yellow: #91aa4bff;
  --june-bud: #b7ce63ff;
  --dark-moss-green: #4f5d1dff;
  --twitch-green: #019203;
  --bs-dark: #91aa4bff;
}

.bg-primary {
  background-color: var(--middle-green-yellow) !important;
}

.btn-primary {
  background-color: var(--june-bud) !important;
  border-color: var(--dark-moss-green) !important;
}

.bg-dark {
  background-color: var(--middle-green-yellow) !important;
}

.navbar {
  background-color: var(--middle-green-yellow) !important;
  border-color: var(--dark-moss-green) !important;
  border-width: 0px;
  border-bottom-width: thin !important;
  border-style: solid;
  margin-bottom: 10px;
}

.led {
  width: 100%;
  height: 100%;
  border-radius: 0.5vw;
  font-size: 5px;
  color: #fff;
  line-height: 5px;
  text-align: center;
}

.led-table-row {
  width: 2vw;
  height: 2vw;
  max-height: 25px;
}

.led-table {
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.projectImage {
  margin-top: 12px;
  object-fit: cover;
}